.forms {
  background-color: $text-box !important;
  border-radius: 5px;
  padding: 10px;
}
.mb-3 {
  width: 90vw;
}
h2 {
  color: white;
  padding: 5px;
}

.not-member-button {
  display: flex;
  flex-direction: column;
}
