.single-pass {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.passhow {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 95vw;
  background-color: $text-box;
  border-radius: 5px;
  flex-wrap: wrap;
  .sing-text {
    border-top: dotted $border;
  }
  h4 {
    padding-left: 2vw;
    margin-top: 4px;
  }
  p {
    padding-left: 2vw;
    inline-size: 80vw;
    overflow-wrap: break-word;
  }
}
