.top-titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passlist {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
}

.onePass {
  background-color: $text-box;
  color: $text;
  width: 30vw;
  height: 20vh;
  margin: 10px;
  border-radius: 5px;
  h2 {
    color: $text;
    border-bottom: 2px dotted $text;
    padding-top: 2.5vh;
    height: 10vh;
    padding-left: 2vw;
  }
  a {
    color: $text;
  }
  p {
    font-size: 1.5rem;
    padding-top: 1.5vh;
    padding-left: 2vw;
  }
}
.update-button {
  width: 20vw;
  height: 6vh;
  padding: 10px;
  background-color: $border !important;
  color: $text;
}
